# Add @OWNER_NAME as an owner of OPA Gatekeeper constraints and templates
ci-pipeline/config-root/cluster/*-constraint.yaml davishaba
ci-pipeline/config-root/cluster/*-template.yaml davishaba
ci-pipeline-unstructured/config-root/constraints davishaba
